{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
  <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
</head>
<body>
  <h1>Nossa Biblioteca</h1>
<p>Bem-vindo, {{ user.username }}! | <form action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" style="background:none; border:none; color:blue; text-decoration:underline; cursor:pointer; padding:0; font-size:inherit;">
        Sair
    </button>
</form></p>
<ul>
  {% for livro in livros %}
    <li>
      <a href="{% url 'ler_livro' livro.id %}">
        {% if livro.capa %}
          <img src="{{ livro.capa.url }}" alt="Capa de {{ livro.titulo }}" width="100">
        {% endif %}
        {{ livro.titulo }} - {{ livro.autor }}
      </a>
    </li>
  {% empty %}
    <li>Nenhum livro cadastrado ainda.</li>
  {% endfor %}
</ul>
</body>
</html>

